body{
    background-image: url(kepek/hatter.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#wrapper{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-areas:
        "header header"
        "nav nav"
        "aside article"
        "footer footer";
}