body{
    background-image: url(kepek/hatter.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#wrapper{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-areas:
        "header header"
        "nav nav"
        "aside article"
        "footer footer";
    width: 70%;
    margin: 0 auto;
    background-color: white;
}

header{
    grid-area: header;
    background-image: url(kepek/fejlec.jpg);
    background-size: cover;
    height: 80vh;
}

header h1{
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}


nav{
    grid-area: nav;
    background-color: red;
    color: white;
    padding: 10px;
}

nav ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

li a{
    text-decoration: none;
    color: white;
}

li{
    float: left;
    margin-right: 30px;
}

article{
    grid-area: article;
}

aside{
    grid-area: aside;
}

aside > img{
    width: 100%
}

footer{
    grid-area: footer;
    background-color: red;
    color: white;
    text-align: center;
}